.card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.card__content .card:nth-last-child(-n + 3) {
  border-bottom: 1px solid #000;
}

.card__title {
  font-size: 20px;
  line-height: 24px;
  color: #212121;
  margin: 12px 0 0;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  align-self: center;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  margin: 12px 0 0;
}

.card__like-button:hover {
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Full width */
  }

  .card__image {
    max-width: 288px;
    max-height: 288px;
  }

  .card__content {
    display: flex;
    flex-direction: row; /* Vertical layout */
    justify-content: space-between; /* Space between elements */
    align-items: center; /* Center elements */
    width: 100%;
    max-width: 288px;
    height: 100%; /* Full height */
    max-height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
  }

  .card__like-button {
  }
}
