.card {
  width: 100%;
  position: relative;
}

.card__content .card:nth-last-child(-n + 3) {
  border-bottom: 1px solid #000;
}

.card__title {
  font-size: 20px;
  line-height: 24px;
  color: #212121;
  margin: 12px 0 0;
  white-space: nowrap; /* Prevent the text from wrapping to the next line */
  overflow: hidden; /* Hide the overflowed text */
  text-overflow: ellipsis;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  margin: 12px 0 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_liked {
  background-image: url(../images/like-icon-liked.svg);
  opacity: 1;
}

.card__like-button_liked:hover {
  background-image: url(../images/like-icon-liked-hover.svg);
}

.card__delete-button {
  background-image: url(../images/delete-button.svg);
  width: 32px;
  height: 32px;
  position: absolute; /* Makes the button's position relative to the card */
  top: 10px; /* Distance from the top of the card */
  right: 10px; /* Distance from the right of the card */
  background-color: transparent; /* Remove background color */
  border: none; /* Remove default border */
  cursor: pointer; /* Change cursor to pointer when hovering over the button */
  /* opacity: 0; Hide the button initially */
  transition: opacity 0.3s ease; /* Smooth transition for opacity changes */
}

.card__delete-button:hover {
  background-image: url(../images/delete-button-hover.svg);
}

@media screen and (max-width: 627px) {
  .card__image {
    max-width: 288px;
    max-height: 288px;
  }

  .card__content {
    max-width: 288px;
    max-height: 288px;
    margin: 0 auto;
    width: 100%;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 288px;
  }
  .card__title {
    font-size: 16px;
    line-height: 16px;
  }

  .card__like-button {
    background-image: url(../images/heart.svg);
    width: 20px;
    height: 18px;
    border: none;
    background-color: transparent;
    opacity: 40%;
    margin: 12px 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
